/* @keyframes example{
    from {background-color: red;}
  to {background-color: yellow;}
} */
body{
    background-image: linear-gradient(to right,rgb(207, 102, 40),rgb(75, 163, 57),rgb(192, 128, 10));
}
.container{
    margin-top: 3rem;
    background-image: linear-gradient(to right,black,rgb(12, 12, 24),black);
    border: 3px 4px 3px 5px white;
}

img.source-image {
    width: 100%;
    height:100%;
    position:absolute ;
    opacity: 0.5;
}

.box{
    
margin: auto;

/* background-color: rgb(165, 20, 20); */
align-items: center;
justify-content: center;
}

#new-game{
  margin-bottom: -15rem;
    margin-left: 45%;
}

.flex-box{
    text-align: center;
    height: auto;
    /* background-color: blue; */
    flex-direction: row;
}



.jumbotron{
    position: absolute;
    left: 30%;
    top:100%;
    text-align: center;
    animation-name: example;
    animation-duration: 4s;
}

#header{
    padding: 3rem;
    color: rgb(250, 246, 246);
}

#dice-image1 {
    padding: 0 3rem 3rem 3rem;
    left: 4rem;
    /* background-color: #050505; */
}

#dice-image2 {
    padding: 0 3rem 3rem 3rem;
    left: 4rem;
    /* background-color: #050505; */
}

#score-card{
    margin: 1rem;
    padding: 1rem;
    color: white;
}